/* Mobile First */

* {
    /* border: solid red 1px; */
    /* Useful trick to see all CSS boxes */
    /* background-color: #3865fc;
    color: whitesmoke; */
}

header {
    padding: 15px;
    text-align: center;
    font-size:x-large;
}

.title {
    background-color: #3594f2;
    color: #7338fc;
    font-weight: bolder;
}

/* img {
    
    margin: 0.5rem;
    width: 75%;
} */



h1 {
    color: navy;
    margin-left: 20px;
  }


.dog {
    width: 100%;
    height: auto;
    max-width: 600px;
    /* border: 0.5rem solid #7338fc; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* Tablet Second */

@media only screen and (min-width: 600px) {
    body {
        background-color: yellow;
    }
}

/* Desktop Last */

    
